<div class="collapse navbar-collapse justify-content-center" id="main-navbar">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">All Wines</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wines by colour
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'products' %}?colour=Red">Red</a>
                <a class="dropdown-item" href="{% url 'products' %}?colour=White">White</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wines by region
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <a class="dropdown-item" href="{% url 'products' %}?origin=Italy">Italy</a>
                <a class="dropdown-item" href="{% url 'products' %}?origin=New Zealand">New Zealand</a>
                <a class="dropdown-item" href="{% url 'products' %}?origin=South Eastern Australia">South East Australia</a>
                <a class="dropdown-item" href="{% url 'products' %}?origin=Spain">Spain</a>
            </div>
        </li>
    </ul>
</div>